body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

main {
  width: calc(100% - 2rem);
  max-width: 1200px;
  aspect-ratio: 4/3;
}

canvas {
  box-shadow: 0 0 0.5rem black;
  height: 100%;
  width: 100%;
}
